body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.login-form {
  min-width: 400px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 50px;
}

::-webkit-scrollbar {
  display: none;
}
